.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background-color: rgb(232 226 50);
}

.logo{
    width: 80px;
    padding-top: 7px;
    padding-left: 10px;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
}
.nav-items > ul > li{
    padding: 13px;
    margin-left: 10px;
}

.nav-items{
    padding-right: 20px;
}

.res-con{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.rescard-con{
    position: relative;
    /* background-color: beige; */
    height: 200px;
    width: 20%;
    /* padding: 5px; */
    border-radius: 5%;
    margin:2%;
    text-align:left;
}

.rescard-con:hover{
    /* border: 1px solid black; */
    cursor: pointer;
    /* background-color: beige; */
    transform: scale(0.93);
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.2); */

}

.img-div-con{
    height: 68%;
}

.img-con{
    width: 100%;
    height: 100%;
    border-radius:7%;
    object-fit: cover;
}

.res-details-con{
    height: 30%;
}

.resname{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    margin: 1px;
    /* padding: 3% 3%; */
    /* text-justify: auto; */
    /* text-decoration: dotted; */
}

.resname1{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    margin: 1px 1px 3px 1px;
    font-weight: lighter;
    /* padding: 3% 3%; */
    /* text-justify: auto; */
    /* text-decoration: dotted; */
}

.offerDetail{
    position: absolute;
    top: 25%;
    font-size: 34;
    font-family: sans-serif;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}


.ratingTime{
    margin: 0px;
    word-spacing: 3px;
}

.body{
    align-items:normal;
    margin: 35px 70px 5px 70px;
}

.filter{
    text-align: center;
    margin: 0px;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    margin: 35px 70px 10px 70px;
    margin-top: 50px;
    /* display: relative; */
}

.shimmer-card{
    margin: 15px 10px;
    height: 200px;
    width: 200px;
    position: relative;
}
.shimmer-card-photo{
    height: 70%;
    background-color: #f0f0f0;
}
.shimmer-card-data{
    background-color: #e4d8d8;
    /* border: 2px solid #979393; */
    height: 30%;
}
